{{#foreach posts}}
  <article id="{{id}}" class="post-preview">
    <a href="{{url}}">
      <h2 class="post-title">
        {{{title}}}
      </h2>
      <section class="post-subtitle">
        {{excerpt}}
      </section>
    </a>

    {{#author}}
      <p class="post-meta">Published by <a href="{{url}}">{{name}}</a> on <time datetime="{{published_at}}">{{date format="MMMM DD, YYYY"}}</time></p>
    {{/author}}
  </article>
  <hr>
{{/foreach}}
