{{!< default}}

{{#post}}
  <header class="intro-header" {{> post-image}}>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="post-heading">
                      <h1>{{{title}}}</h1>
                      {{#author}}
                          <span class="meta">Published by <a href="{{url}}">{{name}}</a> on <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time></span>
                      {{/author}}
                  </div>
              </div>
          </div>
      </div>
  </header>

  <article id="{{id}}" class="{{post_class}}">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   {{content}}
                   <div class="tags">{{tags}}</div>
              </div>
          </div>
      </div>
  </article>
{{/post}}